*{
margin: 0;
padding: 0;
box-sizing: border-box;
/* border: 1px solid black; */
}


body{
    background-color: beige;
}

.container{
    background-color: coral;
    margin: auto;
    width: 45vw;
    padding: 20px;
}

#result{
   text-align: center;
   font-size: 22px;
   color: red; 
   font-weight: 900;
   margin-top: 10px;
}